footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    font-family: '微軟正黑體';
}
footer ul{
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
footer ul li{
    margin: auto;
    font-weight: 700;
    color: white;
    display: inline;
    padding: 10px 10px;
    font-size: 1.3rem;
    /* text-align: center; */
}
footer p{
    padding-top: 10px;
    text-align: center;
    color: white;
}